
.gradient {background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.gradient_card {
  background-color: #9ff6d1;
  background-image: linear-gradient(45deg, #9ff6d1 0%, #ffffb7 99%);
}