/* .body {
    padding: 50px;
}

.p_tag {
    font-size: 20px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}

.colorDate {
    color: #CB0303;   
}

.succeedTransaction {
    color: #61C171;
    text-align: center;
}

.info {
    color: #1C51B8;
    text-align: center;   
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    padding: 30px;
    background: #EBEBEB;

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.photo {
    position: absolute; right: 0;
    float: right;
    height: 250px;
    width: 200px;
    padding: 30px;
}
.pendingTransaction {
    color: #A59615;
    text-align: center;   
}

.iconDate {
    height: 30px;
}