.full-editar-perfil {
  background-color: var(--color-background);
  min-height: calc(100vh - 72px);
  position: relative;
}

.form-servicos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--color-title-in-primary);
}

.col-form-label {
  padding-top: 0;
  padding-right: 0;
}

.social-row {
  display: flex;
  align-items: flex-start;
}

#cadastro-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#file-name:hover {
  text-decoration: underline;
  color: red;
}
