.sidebar {
    height: 90%;
    background-color: var(--color-primary);
}

.nav-link {
    margin-top: 0.5rem;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--color-secondary);
    color: #fff;
}
