.sidebar {
    background-color: var(--color-primary);
}

.nav_link {
    margin-top: 0.5rem;
    color: #fff;
    text-decoration: none;
}

.nav_link:hover {
    background-color: var(--color-secondary);
    color: #fff;
}
