.sidebar {
    background-color: var(--color-primary);
    position: sticky;
    top: 3vw;
}

.nav_link {
    margin-top: 0.5rem;
    color: #fff;
    text-decoration: none;
}

.nav_link:hover {
    background-color: var(--color-secondary);
    color: #fff;
    transition: all 0.3s;
}
